.t1{
    padding-left: 5%;
    padding-right: 5%;
    width: 85%;
    font-family:Georgia, 'Times New Roman', Times, serif;
    line-height: 25px;
}
.t2{
    font-size: xx-large;
    font-weight: 600;
    
    padding-left: 5%;
    padding-right: 5%;
    color: black;
    font-family:Georgia, 'Times New Roman', Times, serif;
    line-height: 25px;
}