.appointpagemaincontent{
    width: 55%;
    height: 80%;
    
    
}

.appointpagebox66{
    width: 24%;
    height: 4%;
    
    padding-right: 20%;
    padding-top: 3%;
}
.appointpagemaincontent{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.appontinputl66{
    height: 30px;
    width: 170%;
    outline: 0;
    border: 2;
    border-bottom: 1px solid rgb(8, 8, 7);
    background: transparent;
    font-size: 2em;
    transition: 0.3s ease;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    
    
}




.appontinputl66:focus {
    outline: none;
    
    border-bottom: 1px solid rgb(220, 130, 27);
    text-decoration: underline;
    
    
    border-top: 0;
    border-left: 0;
    border-right: 0;
  }
  
.afterfelx{
    padding-left: 1.8%;
}

.appontinputl55{
    width:50.5%;
    height: 30px;
}

.totalappointpage{
    
}

.phonenumdiv{
    width: 20%;
    margin-left: 80%;
    height: 40%;
    background-color: red;
    border: 1px black solid;
   
}