
.pblackbox{
    width: 150px;
    height: 150px;
    background-color: black;
    padding-top: 140px;
    padding-bottom: 140px;
    padding-left: 100px;
    padding-right: 100px;
    color: white;
    float: right;
    margin-right: 50px;
}


#ppic:hover{
    transform: scale(1.5);
}
#pnbr{
    font-weight: bolder;
    font-size: xx-large;
    color: white;
}
#phelp{
    color: white;
}