.docopenpage{
    

    background-color: white;
   
}
.totaldtr1234{
    width: 600px;
}

.aboutdocpage{
    margin-left: 6%;
}

#caducusid{
    padding-left:50px;
}
#doctorlogged{
    padding-left: 1300px;
    padding-right: 30px;
    margin-top: 100px;

}

#welcomestar2{
    width: 20px;
    height: 20px;
}

