.docloginpage{
    
    width: 200px;
    height: 270px;
    background-color: white;
    border: 1px black solid;
    margin-left: 85%;
    border-radius: 10px;
    padding-left: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-bottom: 10%;
 
   
}
.docloginput{
    height: 25px;
}
.docloglabel{
    color: black;
}

.docloginpage:hover{
    border-color: orange;
    color: orange;
}

.docloginput:hover{
    border-color: orange;
}

.docloginput:focus{
    border-color: orange;
}

.doclogbut{
    background-color: white;
    border: 1px black solid;
}

.doclogbut:hover{
    background-color: black;
    color: white;
}


