.docopenpage{

    background-color: white;
   

}


#doclogorreg667788{
    position: absolute;
    top: 0;
}

.totaldtr1234{
    width: 600px;
    padding-top: 60px;
}
.totaldtr1234{
    display: flex;
}
#doctorlogged{
    
    padding-right: 30px;
    margin-top: 100px;
    padding-left: 85px;

}

@media screen and (max-width: 500px) {
    .totaldtr1234{
        display: flex;
        flex-direction: column;
    }
    #doctorlogged{
    
        padding-right: 10px;
        margin-top: 10px;
        padding-left: 10px;
    
    }
    .totaldtr1234{
        width: 500px;
        padding-top: 60px;
    }

}

