#docrigmain{
    width: 300px;
    height: 250px;
    padding-right: 20px;
    padding-left: 10px;
    
    border: 1px black solid;
    margin-top: 50px;
    float:right
    
}



.docreginp33{
   height: 25px;
   width: 300px;

}
.docreglab22{

    
    color: black;
    padding-left: 5%;
}
.docreginp33:hover{
    border-color: orange;
   
    border-left: 1px;
    border-right: 1px;
}



#docrigbut44{
    color: white;
    background-color:blue;
}
#docrigbut44:hover{
    color: white;
    background-color: black;
}
