
#heartlabel1{
    color: white;
    position: absolute;
    top: 0;
    padding-left: 90px;
    padding-top: 300px;
    font-size: 3em;
   font-family:  Cochin, Georgia, Times, 'Times New Roman', serif;
}