.home123{

    width: 50%;
    height: 50%;
    background-color: aqua;
}

.content12{
<<<<<<< HEAD
    width: 55%;
    height: 75%;
=======
    width: 100%;
    height: 100%;
    background-color: aqua;
>>>>>>> 0827ed1f7c9bfb634428f9a7f6d08f0658a039e3
    padding-left: 40px;
}
.content12 h1{
    font-size:500%;
    font-style: italic;
    color: rgb(117, 105, 36);;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#p1{
    font-size: small;
    font-weight: 700;
    padding-left: 30px;
}
#p2{
    font-size: x-large;
    font-family:Georgia, 'Times New Roman', Times, serif;
    
}