

.home123{
    width: 95%;
    height: 50%;
    padding-top: 45px;
    margin-left: 1%;
    margin-right: 2%;
    
    
}

#homepagenew234{
    width: 95%;
    margin-left: 2%;
    margin-right: 2%;

}
#starhospitalid{
    color: orange;
}

#logorreg{
    padding-left: 90px;
}

.content12{
    width: 55%;
    height: 75%;
    padding-left: 30px;
}
.content12 h1{
    font-size:500%;
    font-style: italic;
    color: rgb(117, 105, 36);;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#p1{
    font-size: small;
    font-weight: 700;
    padding-left: 100px;
}
#p2{
    font-size: 20px;
    font-family:verdana;


}
#h1{
    color:rgb(171, 146, 3);
    font-family:verdana;
}
#p3{
    
    font-family:verdana;
    line-height: 25px;
}
#h2{
    color:rgb(171, 146, 3);
    font-family:verdana;
}
#p4{
    font-family:verdana;
    line-height: 25px;
}
.logo-and-text{
    display:flex;
    
}
