.box {
    background-color: rgb(6, 6, 5);
    width: 96%;
    height: 220px;
    border: 1px solid rgb(12, 12, 12);
    margin-top: 50px;
    color: rgb(222, 196, 48);
    display: flex;
    padding-left: 3%;
}

.box0 {
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box1, .box2, .box3 {
    width: 33%;
    padding-top: 30px;
    
}

.values {
    display: flex;
    align-items: center;
    margin-left: 40px;
}

.values .dot {
    margin-right: 1px;
    font-size: 12px; 
}

.dot::before {
    content: "• ";
    color: rgb(6, 123, 27);
}

#starlogo {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#starlogo img {
    margin-right: 10px;
}

#logoh3 {
    padding-top: 15px;
    font-style: italic;
    font-size: xx-large;
    color: rgb(254, 218, 10);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


@media (max-width: 768px) {
    .box0, .box1, .box2, .box3 {
        width: 100%;
        padding-top: 20px;
    }
    
    .values {
        padding-top: 10px;
        font-size: 10px;
    }
}

.box1{
    padding-left: 5%;
}
