

.hpic1{
   padding-left: 30px;
    padding-right: 120px;
    
}
.hpic2{
   padding-left: 30px;
   padding-right: 120px;
}
.hpic3{
    padding-left: 30px;
    padding-right: 120px;
}
.hpic4{
    padding-left: 30px;
    padding-right: 120px;
}
.hpic5{
    padding-left: 30px;
    padding-right: 120px;
}
.hpic6{
    padding-left: 30px;
    padding-right: 120px;
}

#commonpicid{
    width: 22%;
    height: 50%;
    padding-top: 15px;
    border: 1px solid black;
    background-color: rgb(246, 246, 246);
    border-radius: 10px;
}

.mainmarquee123{
    margin-left: 2.5%;
    margin-right: 2%;
   
}
.mainmarquee{
    margin-top: 10px;
    
}

@media screen and (max-width: 600px) {
    .hpic1, .hpic2, .hpic3, .hpic4, .hpic5, .hpic6 {
        padding-left: 10px;
        padding-right: 10px;
    }

    #commonpicid {
        width: 130px;
        padding-top: 10px;
    }

    .mainmarquee123 {
        margin-left: 2%;
        margin-right: 2%;
    }
    #docpic88size{
        width: 120px;
        height: 150px;
    }
    #commonpicid{
        width: 130px;
        margin-left: 20px;
    }
    h1{
        font-size: medium;
    }
    h4{
        font-size:x-small;
    }
}
@media only screen and (min-width: 601px) and (max-width: 992px) { 
    #commonpicid {
        width: 140px;
        height: 300px;
        padding-top: 10px;
        margin-left: 40px;
    }
    #docpic88size{
        width: 150px;
        height: 200px;
        padding-right: 0px;
    }
    .hpic1, .hpic2, .hpic3, .hpic4, .hpic5, .hpic6 {
        padding-left: 30px;
        padding-right: 30px;
    }

}