
.inmarquee{
    text-align: center;
}
.hpic1{
    padding-left: 100px;
    padding-right: 100px;
}
.hpic2{
    padding-left: 100px;
    padding-right: 100px;
}
.hpic3{
    padding-left: 100px;
    padding-right: 100px;
}
.hpic4{
    padding-left: 100px;
    padding-right: 100px;
}
.hpic5{
    padding-left: 100px;
    padding-right: 100px;
}
.hpic6{
    padding-left: 100px;
    padding-right: 100px;
}