.homepagenew234{
    width: 60%;
}
#medicalteamtotal{
    display: flex;
    margin-top: 50px;
}

#h111{
    color: black;
}

@media screen and (max-width: 600px) {
    #medicalteamtotal{
        display: flex;
        flex-direction: column;
        margin-top: 50px;
    }
}