

#appo{
    width: 100%;
    height: 1%;
    background-color: aquamarine;
}


table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
}
th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #d3c930;
}

.appointmentcontainer{
    border: 1px solid black;
    padding-top: 90px;
    margin-top: 20px;
  
   
}
.appointment-card{
    position: absolute;
    top: 0;
    background-color: white;
    border: 3px dotted green;
    margin-left: 250px;
    margin-right: 260px;
    padding: 40px 40px 40px 40px;
    border-radius: 30px;
    margin-top: 70px;


}
#myapppatientkksskk{
    width: 390px;
    height: 130px;
    background-color: white;
    
    margin-left: 200px;

}

#myappfont88{
    color: black;
    font-size: larger;
}