*{
    padding: 0;
    margin: 0;
}

.Navbar{
    background-color:rgba(255, 166, 0, 0.765);
    height: 60px;
    width: 100%;
    position: fixed;
}
.left{
    font-size: x-large;
    font-weight: 500;
    float: left;
    padding-top: 15px;
    padding-left: 50px;
}
.right{
    font-size: large;
    font-weight: 400;
    float: right;
    padding-top: 15px;
}

a{
    margin-right: 50px;
    color: black;
    padding-top: 40px;
    text-decoration: none;
}

#navbara{
    color: black;
}
#navbara:hover{
    color: white;
}
#logo{
    padding-bottom: 20px;
    float: left;
    padding-left: 20px;
}
#com{
    float: left;
    padding-top: 40px;
}