.valuebox{
  width: 250px;
  height: 300px;
  gap: 100px;
  margin-left: 80px;
  margin-top: 20px;
  border: 1px black solid;
  padding-left: 20px;
  padding-top: 20px;
  padding-right: 20px;
  color: rgb(42, 45, 44);  
  border-radius: 25PX;
  background-color:rgb(228, 237, 240);
  box-shadow:20px 20px 50px 10px rgb(216, 209, 211);
}
.paramaindiv {
 margin-top: 30px;
 margin-bottom: 30px;
}



.value1{

  
  text-align: start;
  left: 10%;
  top: 90%;
  color: rgb(42, 45, 44);  
  height: 200px;
  padding-inline: 50px;
  margin:auto;
  margin-top:50px;
  width:300px;
  padding:20px;
  background-color:rgb(228, 237, 240);
  box-shadow:20px 20px 50px 10px rgb(216, 209, 211);
  
  
}
.valuebox:hover{
  background-color: lightblue;
  transform: scale(1.1);
  border-radius: 25px;

}
#ourvalues11{
  margin-left: 3.5%;
  margin-top: 20px;
}

.value2:hover{
  background-color: lightblue;
  transform: scale(1.1);
  border-radius: 25px;
}

.value3:hover{
  background-color: lightblue;
  transform: scale(1.1);
  border-radius: 25px;
}

.value2{
  
  text-align: justify;
 
  left: 39%;  
  top: 90%;
  color: rgb(42, 45, 44);
  height: 200px;
  margin:auto;
  margin-top:50px;
  width:300px;
  padding:20px;
  background-color:rgb(228, 237, 240);
  box-shadow:20px 20px 50px 10px rgb(216, 209, 211);
  
  
}

.value3{
  text-align:justify;
 
  left:68%;  
  top: 90%;
  color: rgb(61, 57, 57);
  height: 200px;

  margin:auto;
  margin-top:50px;
  width:310px;
  padding:20px;
  background-color:rgb(228, 237, 240);
  box-shadow:20px 20px 50px 10px rgb(216, 209, 211);

}

.paramaindiv{
  display: flex;
}

@media screen and (max-width: 50px) {
  .value1, .value2, .value3 {
    width:100px;  
    top: 90px; 
    margin-top: 10px;
    margin-left: 20px; 
    height: 200px;
    padding-left: 3px;
    padding-right: 3px;
    padding: 0px;
    left:1%; 
    margin: 0%; 
  background-color:rgb(228, 237, 240);
  box-shadow:20px 20px 50px 10px rgb(216, 209, 211);
  }

  .paramaindiv {
    flex-direction: column; 
    align-items: center; 
  }
}


@media screen and (max-width: 600px) {
  .valuebox{
    width: 100px;
    height: 300px;
    margin-left: 10%;
    gap: 1px;
    margin-top: 20px;
    padding-top: 2px;
    padding-right: 5px;
    padding-left: 5px;
  }
  p{
    font-size: 0.7em;
  }
  h2{
    font-size: x-small;
  }
 

}

@media only screen and (min-width: 601px) and (max-width: 992px) { 

  .valuebox{
    width: 18%;
    height: 320px;
    margin-left: 10%;
    gap: 5px;
    margin-top: 40px;
    padding-top: 2px;
    padding-right: 5px;
    padding-left: 5px;
    align-items: center;
    font-size: x-small;
  }
  p{
    font-size: x-small;
  }
  h2{
    font-size: x-small;
  }

 
 }


