
.treatcontainer12{
    width: 100%;
    height: 50%;
   
}
.treatcontainer12{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    
    

}

.treatbox12{
    width: 10%;
    height: 10%;
    padding-top: 3%;
    padding-bottom: 3%;
}

.treatlabel12{
    color: black;
    font-size: larger;
    font-weight: 500;
    font-style: "arial";
    padding-left: 10px;
}

.treatcenter12:hover{
    cursor: pointer;
    transform: scale(1.5);
    
}



